movie/
My Games/
pic/
sqpack/
bink2w32.dll
bink2w64.dll
cef_license.txt
ffxiv_dx11.exe
ffxiv.exe
ffxivgame.ver
fileinfo.fiin
license.txt
uninst.exe
SoundCoreBridge.dll
SoundCoreBridge7.dll
XInputXIV9.dll
XInputXIV3.dll
d3d9.log
d3d11.log
